// Calculate a = x * y
// a is a local variable
// x & y are static variables

// Check if x is neg 
push constant 0
pop local 0 

// Check if negative
push constant 0
pop temp 2 // Counter for x
push static 0
push constant 0
lt
if-goto NEG_X

push static 0
pop temp 0 // Store x in temp 0
goto CHECK_Y

label NEG_X
push static 0
neg
pop temp 0 // Store -x in temp 0

// Check if y is neg g
label CHECK_Y
push static 1
push constant 0
lt
if-goto NEG_Y

push static 1
pop temp 1 // Store y in temp 1
goto LOOP

label NEG_Y
push static 1
neg
pop temp 1 // Store -y in temp 1

label LOOP
push temp 0 // Counter 
push constant 0
eq
if-goto RESULT

push local 0 // Push a 
push temp 1 // Push y 
add // Add a and y
pop local 0 // Store sum in a
push temp 0 // Decrement 
push constant 1
sub // Subtract 1 from counter
pop temp 0 // Update  counter
goto LOOP

label RESULT
push temp 2 // Check if counter is equal to 1
push constant 1
eq
if-goto NEG_RESULT

goto END // Jump to the end of the program

label NEG_RESULT
push local 0 // Negate a 
neg
pop local 0 // Store in a

label END
goto END 