// Contains a function ArrMax.arrMax that finds and returns the largest element in the array a of length b.
// a & b are both supplied as arguments

// Put your code here.

function ArrMax.arrMax 2

// Initialize variables
push argument 0
pop pointer 0
push this 0
pop local 0
push constant 1
pop local 1
// Start a loop
label LOOP
push constant 1
push local 1
add
pop local 1
push local 1
push argument 1
gt
if-goto END
// Compare and update the maximum element
push pointer 0
push constant 1
add
pop pointer 0
push this 0
push local 0
gt
if-goto MAX
goto LOOP
// Update the maximum element
label MAX
push this 0
pop local 0
goto LOOP
// End the loop and return the maximum element
label END
push local 0
return